div#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 100px;
    padding: 100px;
}

div.display {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 10;
    padding: 10px;
}